body,
html {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
}

.text {
  color: var(--primary);
}

.button {
  color: #fff;
  background-color: var(--primary);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button:hover {
  color: var(--primary);
  background-color: #fff;
  border-color: var(--primary);
}

:root {
  --bg: #d9e4ff;
  --primary: #326cf9;
  --footer: #0d1317;
}

#navbar {
  padding: 20px 0px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 100%;
}

#navbar .bt {
  color: #000;
}

#navbar .bt:hover {
  color: var(--primary) !important;
  text-decoration: underline;
}

#navbar .btn-nav {
  background-color: var(--bg);
  color: var(--primary);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#navbar .btn-nav:hover {
  background-color: var(--primary);
  color: #fff;
}

#navbar.scrolled {
  background-color: #fff;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#hero {
  height: 100%;
  width: 100%;
  background-color: var(--bg);
}

#hero .parallax {
  height: 100%;
  width: 99%;
  overflow: initial;
  background-position: center;
  background-image: url(../img/hero/3.png), url(../img/hero/2.png), url(../img/hero/1.png);
}

#content img {
  height: 100%;
  width: 100%;
}

#content2 {
  background-color: var(--bg);
}

#content2 .card-body {
  border-radius: 15px;
}

#work .card {
  height: 100%;
  width: 100%;
  -webkit-filter: grayscale(70%);
          filter: grayscale(70%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: none;
}

#work .card .card-img-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#work .card .card-img-overlay a {
  display: none;
}

#work .card:hover {
  height: 100%;
  width: 100%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  cursor: pointer;
}

#work .card:hover a {
  display: inline;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#colab {
  background-color: var(--primary);
}

#colab img {
  height: 100%;
  width: 100%;
}

#colab .btn-colab {
  background-color: #fff;
  color: var(--primary);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#colab .btn-colab:hover {
  background-color: var(--primary);
  color: #fff;
  border-color: #fff;
}

#about img {
  width: 100%;
}

#about .video-gallery {
  width: 100%;
  height: 100%;
}

#blog {
  background-color: var(--bg);
}

#blog .bg-card {
  border-radius: 16px;
}

#blog .bg-card img {
  border-radius: 16px 16px 0 0;
}

#blog .bg-card .btn-blog {
  color: var(--primary);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#blog .bg-card .btn-blog:hover {
  margin-left: 5px;
}

#footer {
  background-color: var(--footer);
}

#profile {
  width: 100%;
  height: 100%;
}

#profile img {
  height: 100%;
  width: 100%;
}

#team .card {
  border-radius: 19px;
  width: 100%;
  height: 520px;
}

#team .card img {
  height: 100%;
  width: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -o-object-fit: cover;
     object-fit: cover;
}

#team .card .card-img-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0;
}

#team .card .card-img-overlay .team-bungkus {
  background: rgba(39, 85, 195, 0.6);
  border-radius: 15px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.3s ease-in;
  transition: visibility 0s, opacity 0.3s ease-in;
}

#team .card:hover .card-img-overlay .team-bungkus {
  visibility: visible;
  opacity: 1;
}

#detail img {
  height: 100%;
  width: 100%;
}

#detail_blog .img-hero-blog {
  height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
}

#detail_blog .btn-blog {
  color: var(--primary);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#detail_blog .btn-blog:hover {
  margin-left: 5px;
}

@media only screen and (max-width: 991px) {
  #hero .parallax {
    -webkit-backdrop-filter: brightness(0.3);
    backdrop-filter: brightness(0.1);
  }
  #hero .bungkus-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: #fff;
    -webkit-backdrop-filter: brightness(0.1);
    backdrop-filter: brightness(0.3);
  }
  #hero .bungkus-hero p {
    color: #fff !important;
  }
  #about .video-gallery {
    padding-top: 70px;
  }
  #blog .pembungkus-blog {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  #team .pembungkus-profile {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  #detail_blog .pembungkus-blog {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 470px) {
  #blog .pembungkus-blog {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  #team .pembungkus-profile {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  #detail .img-detail {
    padding: 0 !important;
  }
  #detail_blog .pembungkus-blog {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}
/*# sourceMappingURL=style.css.map */